---
- hosts: all:!control_nodes
  connection: local
  gather_facts: false
  become: true
  vars:
    timezone: Asia/Tokyo
    friend_name: Heisenberg
  tasks:
    - import_role:
        name: workshop.demo_collection.custom_role
